.header {
    background-color: #51A67C ;
    border-radius: 10px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    h1{
        font-family: 'Courier New', Courier, monospace;
        font-size: 4rem;
        z-index: 1;
    }
}

body, html {
    background-color:  #b2eccf ;
}

main{
    min-height: 75vh;
}


.mol {
    margin-top: 2vh;
    z-index: 1;
}

.mol_big{
    display: flex;
    justify-content: center;
    z-index: 1;
}
.mol__div {
    font-size: 3rem;
    border:2px solid black;
    margin: 1.5vw;
    width: 250px;
    height: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(165, 132, 70);
    
    background-position: center;
    box-shadow: 5px 5px 10px black;
    cursor: url(/images/pixlr-bg-result.png),pointer;
    z-index: 1;

    &:hover {
        background-image: url(/images/77975983-carácter-sonriente-feliz-lindo-del-topo-.jpg);
    }
}

.tree {
    z-index: 0;
    box-sizing: border-box;
    position: absolute;
    bottom: -30px;
    right: 0px;
    
}

.start {
    z-index: 1;
    margin-top: 20px;
    display: flex;
    justify-content: center;

    button {
        background-color: yellow;
        height: 60px;
        border-radius: 40px;
        font-size: 2rem;
        box-shadow: 5px 5px 10px black;
        cursor: pointer;
        z-index: 1;
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(6, 124, 89);
    z-index: 1;

    h3 {
        z-index: 1;
    }

}


