@charset "UTF-8";
:root {
  --button-height: 3rem;
  --color-text: rgba(0,0,0,.25);
  --color-text-shadow: rgba(255,255,255,.15);
  --color-bg:#899095;
  --color-bg-light:#969DA3;
  --color-bg-dark: #7D878F;
  --color-overlay-light: rgba(255,255,255,.2);
  --color-overlay-medium: rgba(0,0,0,.1);
  --color-overlay-dark: rgba(0,0,0,.2);
  --color-tab-focus: rgba(255,255,255,.15);
}

body, html {
  font-family: 'Press Start 2P', cursive;
  background: repeating-linear-gradient(to bottom, #0f0a1e, #0f0a1e 2px, #150e29 2px, #150e29 4px);
}

.header {
  border-radius: 10px;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header h1 {
  text-shadow: 1px 1px var(--color-text-shadow);
  height: 90px;
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
}

main {
  min-height: 75vh;
}

.play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mol {
  display: inline-block;
  border-radius: 20px;
  margin-top: 2vh;
  z-index: 1;
  background-color: var(--color-bg);
  -webkit-box-shadow: -1px -1px 1px var(--color-bg), 0 0 0 4px var(--color-overlay-medium), 1px 1px 1px var(--color-bg-dark), inset 0 0 0 var(--color-overlay-dark), inset 0.5rem 0.5rem 0.25rem var(--color-bg-light);
          box-shadow: -1px -1px 1px var(--color-bg), 0 0 0 4px var(--color-overlay-medium), 1px 1px 1px var(--color-bg-dark), inset 0 0 0 var(--color-overlay-dark), inset 0.5rem 0.5rem 0.25rem var(--color-bg-light);
}

.mol_big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.mol__div {
  font-size: 3rem;
  border: 2px solid black;
  margin: 1.5vw;
  width: 200px;
  height: 150px;
  border-radius: 50%;
  background-color: #eee343;
  background-position: center;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
  cursor: url(/images/pixlr-bg-result.png), pointer;
  z-index: 1;
}

.out {
  background-image: url(/images/77975983-carácter-sonriente-feliz-lindo-del-topo-.jpg);
}

.start {
  z-index: 1;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start .retro {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: calc( var(--button-height) / 3);
  font-family: 'Open Sans', sans-serif;
  background: var(--color-bg);
  height: var(--button-height);
  min-width: var(--button-height);
  border-radius: calc( var(--button-height) / 2);
  border: 0;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-text);
  text-shadow: 1px 1px var(--color-text-shadow);
  cursor: pointer;
  margin: 6px 6px;
  letter-spacing: .1em;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-box-shadow: -1px -1px 1px var(--color-bg), 0 0 0 4px var(--color-overlay-medium), 1px 1px 1px var(--color-bg-dark), inset 0 0 0 var(--color-overlay-dark), inset 0.5rem 0.5rem 0.25rem var(--color-bg-light);
          box-shadow: -1px -1px 1px var(--color-bg), 0 0 0 4px var(--color-overlay-medium), 1px 1px 1px var(--color-bg-dark), inset 0 0 0 var(--color-overlay-dark), inset 0.5rem 0.5rem 0.25rem var(--color-bg-light);
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10px;
  padding-left: 5px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */